<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="Suite" parallel="tests" thread-count="6" > -->
 <test  name="Test">
    <classes>
      <class name="fernsNPetals.TestSuites.All_filters_in_category_page_TestSuite"/>
    <!--   <class name="fernsNPetals.TestSuites.Currency_TestSuite"/>
      <class name="fernsNPetals.TestSuites.Plants_TestSuite"/> -->
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
